<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996570611657-5v18prgme78ij8g4dqvdllmhggru0nmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996570611657-5v18prgme78ij8g4dqvdllmhggru0nmo</string>
	<key>API_KEY</key>
	<string>AIzaSyDZeJHPbj4hLhhZ4LgYhdfNddeSsSu8O28</string>
	<key>GCM_SENDER_ID</key>
	<string>996570611657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.falah.Snap0x</string>
	<key>PROJECT_ID</key>
	<string>snap0x</string>
	<key>STORAGE_BUCKET</key>
	<string>snap0x.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996570611657:ios:235d00485f0e6b8063b218</string>
</dict>
</plist>